/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
main {
  margin: 0 auto;
  max-width: 1240px;
}

.main_logo {
<<<<<<< Updated upstream
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
=======
    
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
>>>>>>> Stashed changes
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #383838;
}
a:hover,
a:focus {
  /* No underlining when hoverling over a link */
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #8a8a8a;
}
a:active {
  /* selected link */
  color: #bb0000;
}
span.web {
  display: inline-block;
  color: #fff;
  background-color: #002b7a;
}
input,
texture,
select,
button {
  font-family: system-ui;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #002b7a;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

button {
  border: none;
  font-family: inherit;
  background-color: #002b7a;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.about-button {
  margin-bottom: 2rem;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.7;
}
.profile {
  max-width: 45vw;
  margin: 0 auto;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  display: block;
}
.enjoylist {
  display: inline-block;
}
.CV {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin: 0 auto;
}
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 3fr;

  grid-gap: 20px;
  margin-bottom: 2rem;
}
.about-img {
  width: 100%;
  height: 100%;
}
.about-grid__item {
  background-color: #fff;
}
/* .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: rgba(0, 0, 0, 0.3);
}
@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid,
  .about-grid {
    -ms-grid-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid,
  .about-grid {
    -ms-grid-columns: 1fr 20px 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid,
  .about-grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
