:root {
  --darkerBlue: #003caa;
  --darkerFontColor: #383838;
  --grayFontColor: #8a8a8a;
  --grayBackgroundColor: #999999;
  --silver: #525252e3;
  --activeFontColor: #bb0000;
  --background: #f8f8ff;
  --gridItem: rgb(225, 225, 225);

  --yellowColor: #edc655;
  --lemonColor: #fcffad;
  --creme: #ebe9df;
  --orangeColor: #f76414;

  --xsFontSize: 14px;
  --regularFontSize: 16px;
  --largeFontSize: 18px;
  --largePlusFontSize: 20px;
  --XLargeFontSize: 24px;

  --regularFontWeight: 400;
  --mdFontWeight: 500;
  --largeFontWeight: 700;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  background-color: var(--background);
  font-family: "Red Hat Display", sans-serif;
  font-weight: var(--regularFontWeight);
  font-size: var(--regularFontSize);
  line-height: 1.6;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 1600px;
}

.font-white {
  color: #fff;
}

.margin-center {
  margin: 0 auto;
}
.main_first_section {
  flex-wrap: wrap;
  margin-top: 2em;
  border-top: 1px solid #dddddd;
  display: flex;
}
.section-paragraph {
  margin-top: 0.2rem;
  width: 100%;
  max-width: 48rem;
}
.main_left_side {
  flex: 1;
}

.main_left_side,
.main_right_side {
  padding: 20px;
}

.main_right_side {
  flex: 1;
}

.message {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  font-size: 28px;
  color: #002b7a;
}
.dud {
  color: #002b7a;
}

h1 {
  margin-top: 30px;
  font-size: 40px;
}

h1:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 30px;
  background-color: #002b7a;
  margin-right: 0.7rem;
}

.describe {
  font-size: var(--largeFontSize);
  text-align: justify;
  width: 500px;
  margin-bottom: 3em;
}

.refer {
  margin-bottom: 7em;
  font-size: var(--XLargeFontSize);
}

.deco {
  background-color: #002b7a;
  color: #dddddd;
  margin-right: 4px;
  letter-spacing: 0.15rem;
}

.main_logo {
  height: fit-content;
}
h2 {
  font-size: var(--XLargeFontSize);
  font-weight: var(--largeFontWeight);
}
h3 {
  font-size: var(--largeFontSize);
  font-weight: var(--largeFontWeight);
}
.sectionWork {
  margin: 20px;
  padding: 20px;
  color: #003caa;
  font-weight: var(--largeFontWeight);
}
a {
  color: var(--darkerFontColor);
}
a:hover,
a:focus {
  /* No underlining when hoverling over a link */
  text-decoration: none;
  transition: 0.3s;
}

a:active {
  /* selected link */
  color: var(--activeFontColor);
}
span.web {
  display: inline-block;
  color: var(--lighterFontColor);
  background-color: var(--darkerBlue);
}
input,
texture,
select,
button {
  font-family: system-ui;
}

.button,
button {
  border: none;
  font-family: inherit;
  background-color: var(--darkerBlue);
  text-decoration: none;
  padding: 15px;
  border-radius: 25px;
  border-bottom: 1px solid var(--lighterGrayColor);
  display: inline-block;
}
.about-button {
  margin-bottom: 2rem;
  color: #fff;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
}
.profile {
  margin: 0 auto;
  text-align: center;
  padding: 4em 0;
}

/* .profile {
  background-color: var(--background);
  margin: 0 auto;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  display: block;
}
.enjoylist {
  display: inline-block;
} */

/* .project_section {
  margin-top: 2em;
  border-block: 1px solid #dddddd;
  writing-mode: horizontal-tb;
} */
/* .project_section {
  display: flex;
  justify-content: space-between;
} */

.project-list {
  flex: 1;
}

.project-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #dddddd;
  padding: 4em 0;
  width: 100%;
}
.project-item > a {
  width: 40%;
  height: fit-content;
  display: flex;
  position: relative;
}

.itemBox {
  display: flex;
  position: relative;
  width: 100%;
}

.itemImg {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.itemImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(80%);
  object-position: center;
  align-items: center;
}

.itemBox:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #79a0e2;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 2;
}

.itemBox:hover:after {
  opacity: 1;
  width: 100%;
}

/* .itemBox > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
} */
.itemImg::before {
  height: 46px;
  width: 6.4px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 3;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.6s ease;
  transition: opacity 0.3s ease, transform 0.6s ease;
  box-sizing: border-box;
}

.itemImg::after {
  width: 46px;
  height: 6.4px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 3;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.6s ease;
  box-sizing: border-box;
}
.itemBox:hover .itemImg::before,
.itemBox:hover .itemImg::after {
  opacity: 1;
}
.itemText {
  flex: 1;
  padding-left: 50px;
  position: relative;
  width: 60%;
}

.textBlock {
  display: inline-block;
  position: relative;
  width: 100%;
}

.project-date {
  color: gray;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 0;
  font-size: 11px;
  line-height: 22px;
  display: inline-block;
}

.project-title {
  max-width: 620px;
  padding-bottom: 19px;
  position: relative;
  padding-top: 16px;
  font-size: 30px;
  line-height: 48px;
  display: block;
}

.titleText:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #79a0e2;
}
.titleText:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #002b7a;
  transform-origin: bottom left;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
}

.project-title:hover .titleText:after {
  transform: scaleX(1);
  width: 100%;
}
.project-title:hover .titleText {
  color: #002b7a;
}

.project-caption {
  margin-top: 12em;
}

.caption {
  text-transform: uppercase;
  font-size: var(--xsFontSize);
  color: var(--grayFontColor);
  display: inline-block;
  margin: 0 5px;
}
.CV {
  display: block;
  width: max-content;
  text-align: center;
  margin: 0 auto;
}
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #dddddd;
  padding: 2em 0;
}
.page-header {
  width: 100%;
  padding: 20px;
}

.navbar-nav {
  text-align: center;
  margin-top: 2em;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: var(--darkerBlue);
  font-weight: var(--mdFontWeight);
  transition: 0.2s;
}
.navbar-light:hover .navbar-nav:hover .active > .nav-link:hover {
  color: var(--grayFontColor);
  font-weight: var(--largeFontWeight);
  transition: 0.2s;
}

.container {
  width: 100%;
}
/* .page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
} */
/* .navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
} */
.about-grid {
  display: grid;
  /* grid-template-columns: 3fr 3fr; */
  grid-gap: 20px;
  margin-bottom: 2rem;
}
.about-img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}
/* .about-grid__item {
  display: grid;
  background-color: var(--lighterFontColor);
  border: none;
  grid-template-columns: 3fr 3fr 3fr;
} */
.about-grid__item_img {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.col-md-4 > p {
  text-align: justify;
  padding: 30px;
}
.key-skill > h6 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: var(--largeFontWeight);
}
.key-skill > p {
  text-align: justify;
  display: block;
}
.about-grid .row {
  width: 100%;
}

/* .grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
} */
.work {
  padding: 4em 0;
}

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: var(--background);
}

.grid__item {
  background-color: var(--gridItem);
  color: var(--darkerFontColor);
  padding: 30px;
  width: auto;
  height: auto;
  min-height: auto;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2),
    0 5px 5px 0 rgba(238, 203, 150, 0.24);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  .skill-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5px 0 5px 0;
  }
  .skill-detail {
    background-color: #fff;
    margin: 0.3em;
    padding: 0.5em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 7em;
    font-size: 0.8em;
    text-align: center;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
  }
}
.grid__item h2 {
  text-align: center;
}
.grid__item p {
  height: 60%;
  margin-bottom: 10px;
  font-size: var(--largeFontSize);
}
.grid__item a {
  display: inline-block;
  color: #003caa;
  text-decoration: none;
  transition: 0.3s;
  font-weight: var(--largeFontWeight);
  margin: 0.5rem;
}
.grid__item a:hover {
  color: #8a8a8a;
  transition: 0.3s;
}
.grid-img {
  width: 100%;
  max-height: 490px;
  padding: 25px;
}

/* form */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.label {
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
  font-weight: var(--largeFontWeight);
}
/* #fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: var(--XLargeFontSize);
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
  font-weight: var(--largeFontWeight);
} */

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  background-color: rgb(234, 243, 255);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: rgb(255, 255, 255);
  outline-style: solid;
  outline-width: thin;
  outline-color: #003caa;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-bottom: 0;
  border: none;
  font-family: inherit;
  background-color: var(--darkerBlue);
  color: #fff;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 25px;
  border-bottom: 1px solid var(--lighterGrayColor);
  display: inline-block;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  margin-bottom: 0;
  border: none;
  font-family: inherit;
  background-color: var(--darkerBlue);
  color: #fff;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 25px;
  border-bottom: 1px solid var(--lighterGrayColor);
  display: inline-block;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  border: none;
  font-family: inherit;
  background-color: var(--darkerBlue);
  color: #fff;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 25px;
  border-bottom: 1px solid var(--lighterGrayColor);
  display: inline-block;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

@keyframes color-change {
  0% {
    fill: var(--yellowColor);
  }
  50% {
    fill: var(--lemonColor);
  }
  100% {
    fill: var(--orangeColor);
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* @media all and (max-width: 750px) {
  .grid,
  .about-grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
} */
/* @media all and (max-width: 750px) {
  .grid,
  .about-grid {
    grid-template-columns: 1fr 1fr;
  }
} */
@media (min-width: 1024px) {
  .lg-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 15px; /* Optional: Add some space between stacked columns */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (min-width: 500px) {
  .work {
    padding: 2em 0;
  }

  .grid__item p {
    font-size: var(--regularFontSize);
  }

  h2 {
    font-size: var(--largePlusFontSize);
  }

  h1:before {
    margin-left: 1rem;
    height: 20px;
  }

  .sm {
    padding: 5rem;
  }
  .grid,
  .about-grid,
  .xs-grid-cols-1 {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .main_first_section {
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }

  .section-paragraph {
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .main_left_side {
    width: 400px;
    padding: 0 10px;
    flex: 100%;
  }
  .describe {
    width: 100%;
    padding: 14px;
  }
  .refer {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 1em;
  }
  .main_right_side {
    padding: 15px;
    margin-bottom: 2em;
    flex: 100%;
  }
  /* .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  } */
  h1 {
    font-size: 22px;
  }

  .about-img {
    width: 69%;
  }
  /* section.intro */
  .intro {
    width: 100%;
    margin: 0 auto;
  }

  .grid__item {
    padding: 44px;
  }

  /* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . . .";
} */

  .intro .inner .company {
    margin: 0 auto;
  }

  .inner-column-divider {
    border-bottom: 1px solid #002b7a;
    padding: 15px;
    margin-right: 2rem;
  }
  .answer {
    padding: 15px;
  }

  .case-study-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .case-study-link > a {
    margin: 0 10px;
    transition: 0.3s;
    color: #003caa;
    text-decoration: none;
  }
  .case-study-link > a:hover {
    color: #8a8a8a;
    transition: 0.3s;
  }

  .flex-col {
    flex-direction: column;
  }
  .xs-grid-cols-1 {
    grid-template-columns: 1fr;
  }
  .main_left_side,
  .main_right_side {
    width: 100%;
  }

  .text {
    font-size: 22px;
  }
  .project_section {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .project-list {
    width: 100%;
    padding: 0 15px;
    flex: 1;
  }

  .project-item {
    flex-direction: column;
  }
  .project-item > a {
    width: 100%;
  }

  .itemBox {
    width: 100%;
    margin-bottom: 2rem;
  }

  .itemText {
    width: 100%;
    padding-left: 15px;
  }

  .project-date {
    line-height: 16px;
  }

  .project-title {
    font-size: 24px;
    line-height: 32px;
  }

  .project-caption {
    margin-top: 4em;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    max-width: 668px;
  }

  h1 {
    font-size: 30px;
  }

  .refer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .main_first_section {
    padding: 20px 0;
  }

  .main_right_side {
    margin-bottom: 2em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .project-item {
    flex-direction: column;
  }

  .project-item > a {
    width: 88%;
  }

  .itemText {
    width: 100%;
  }

  .project-caption {
    margin-top: 4em;
  }
  .s-grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .main_left_side,
  .main_right_side {
    width: 100%;
  }

  .sm {
    padding: 0;
    padding-bottom: 2em;
  }
}

@media all and (min-width: 769px) and (max-width: 976px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .s-grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media all and (min-width: 977px) {
  .container {
    max-width: 1600px;
  }
  .md-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
} */

@media (min-width: 1024px) {
  .s-grid-cols-2 {
    display: grid;
    grid-gap: 20px;
    background-color: var(--background);
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    max-width: 990px;
  }
  .project-list {
    padding: 0 70px;
  }

  .itemText {
    width: 100%;
    padding-left: 51px;
  }
}

@media all and (min-width: 1200px) {
  .md-grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: var(--background);
  }
  .main_first_section {
    padding: 0 2em;
  }

  .sm {
    padding: 2em 2.5em;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid__item p {
    font-size: var(--largeFontSize);
  }

  main {
    margin: 0 auto;
    max-width: 1600px;
  }

  .main_first_section {
    flex-wrap: wrap;
    margin-top: 2em;
    border-top: 1px solid #dddddd;
    display: flex;
  }
  .section-paragraph {
    margin-top: 0.2rem;
    width: 100%;
    max-width: 48rem;
  }
  .main_left_side {
    flex: 1;
  }

  .main_left_side,
  .main_right_side {
    padding: 20px;
  }

  .main_right_side {
    flex: 1;
  }

  h1 {
    font-size: 40px;
  }

  h1:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 30px;
    background-color: #002b7a;
    margin-right: 0.7rem;
  }

  .describe {
    font-size: var(--largeFontSize);
    text-align: justify;
    width: 500px;
    margin-bottom: 3em;
  }

  .refer {
    margin-bottom: 7em;
    font-size: var(--XLargeFontSize);
  }

  .deco {
    background-color: #002b7a;
    color: #dddddd;
    margin-right: 4px;
    letter-spacing: 0.15rem;
  }
  .project_section {
    display: flex;
    justify-content: space-between;
  }
  .project-list {
    flex: 1;
    padding: 0 30px;
  }

  .project-item {
    display: flex;
    align-items: center;
    border-top: 1px solid #dddddd;
    padding: 4em 0;
    width: 100%;
    flex-direction: unset;
  }
  .project-item > a {
    width: 40%;
    height: fit-content;
    display: flex;
    position: relative;
  }

  .itemBox {
    display: flex;
    position: relative;
    width: 100%;
  }

  .itemImg {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .itemImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
    object-position: center;
    align-items: center;
  }

  .itemBox:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #79a0e2;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 2;
  }

  .itemBox:hover:after {
    opacity: 1;
    width: 100%;
  }
  .itemText {
    flex: 1;
    padding-left: 50px;
    position: relative;
    width: 60%;
  }
}

/* .intro .inner .company > li .category {
  font-size: 20px;
  margin-bottom: 15%;
  border-bottom: 1px solid #002b7a;
  
} */

/* .intro .inner {
  width: 85%;
  margin: 0 auto;
  box-sizing: border-box;
}
.intro .inner .company {
  float: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
} */
/* .intro .inner .company > li {
  float: left;
  width: 23.5%;
}
.intro .inner .company > li:last-child {
  margin-right: 0;
}
.intro .inner .company > li .category {
  font-size: 20px;
  margin-bottom: 15%;
  position: relative;
}
.intro .inner .company > li .category:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #707070;
  box-sizing: border-box;
  position: absolute;
  bottom: -28px;
  left: 0;
  display: block;
} */
/* .intro .inner .company > li .answer {
  font-size: 20px;
  line-height: 1.5;
}
.intro .inner .company > li .color {
  width: 70%;
}
.intro .inner .company > li .color > li {
  font-size: 20px;
  margin: 0 0 2% 15%;
  position: relative;
}
.intro .inner .company > li .color > li::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -36px;
  top: 1px;
}
.intro .inner .company > li .color > li:first-child:before {
  background-color: #ffffff;
}
.intro .inner .company > li .color > li:nth-child(2):before {
  background-color: #3a3c4e;
}
.intro .inner .company > li .color > li:nth-child(3):before {
  background-color: #ff8342;
}
.intro .inner .visual {
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.intro .inner .visual p.img {
  width: 100%;
  margin: 0 auto;
}
.intro .inner .visual p.img img {
  width: 100%;
  display: block;
} */

.screen {
  width: 100%;
  margin: 3em auto;
}
.screen .img {
  width: 97%;
  margin: 0 auto;
}
.screen .img img {
  display: block;
  width: 100%;
}
.screen p {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: var(--regularFontSize);
  font-weight: var(--regularFontWeight);
  margin-top: 1rem;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
.p-6 {
  padding: 1.5rem;
}

.bg-white {
  background-color: rgb(255, 255, 255);
}
.border {
  border-width: 1px;
}

.border-gray-200 {
  border-color: rgb(200, 200, 200);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.secondary-title {
  color: #003caa;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.w-full {
  width: 100%;
}

.w-lg {
  width: 92%;
}

.w-md {
  width: 75%;
}

lg:gap-6 {
  gap: 1.5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 8rem;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.font-semibold {
  font-weight: 600;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-72 {
  margin-top: 4.5rem;
}

.mt-128 {
  margin-top: 8rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-2-plus {
  margin-bottom: 0.8rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tst {
  background-color: #edc655;
}

.block {
  display: block;
}

.download-icon {
  width: 30px;
  margin-bottom: -17px;
}

.contact-button {
  transition: 0.2s;
}

.contact-button:focus,
.contact-button:hover {
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}
